header {
  background-color: red;
}

aside {
  background-color: blue;
}

#c {
  background-color: green;
}

#d{
  background-color: darkcyan;
}

#e {
  background-color: brown;
}

#f {
  background-color: grey;
}

#g {
  background-color: purple;
}

#h {
  background-color: orange;
}

#i {
  background-color: yellow;
}

@media(min-width: 768px){
  header {
    background-color: pink;
  }
  
  aside {
    background-color: lightblue;
  }
  
  #c {
    background-color: lightgreen;
  }
  
  #d{
    background-color: aqua;
  }
  
  #e {
    background-color: tan;
  }
  
  #f {
    background-color: lightgrey;
  }
  
  #g {
    background-color: violet;
  }
  
  #h {
    background-color: lightcoral
  }
  
  #i {
    background-color: lightyellow;
  }
}