/* MOBILE VIEW */
header {
  background-color: red;
}

aside {
  background-color: blue;
}

#c {
  background-color: green;
}

#d{
  background-color: darkcyan;
}

#e {
  background-color: brown;
}

#f {
  background-color: grey;
}

#g {
  background-color: purple;
}

#h {
  background-color: orange;
}

#i {
  background-color: yellow;
}

/* TABLET VIEW */
@media(min-width: 600px){  
  header {
    background-color: #FFECA1;
  }
  
  aside {
    background-color: #E8CE92;
  }
  
  #c {
    background-color: #FFDEAD;
  }
  
  #d{
    background-color: #E8BA92;
  }
  
  #e {
    background-color: #FFBEA1;
  }
  
  #f {
    background-color: #FFA599;
  }
  
  #g {
    background-color: #E88BE3;
  }
  
  #h {
    background-color: #C0A6FF;
  }
  
  #i {
    background-color: #5291EB;
  }
}

/* DESKTOP VIEW */
@media(min-width: 768px){
  header {
    background-color: pink;
  }
  
  aside {
    background-color: lightblue;
  }
  
  #c {
    background-color: lightgreen;
  }
  
  #d{
    background-color: aqua;
  }
  
  #e {
    background-color: tan;
  }
  
  #f {
    background-color: lightgrey;
  }
  
  #g {
    background-color: violet;
  }
  
  #h {
    background-color: lightcoral
  }
  
  #i {
    background-color: lightyellow;
  }
}